nuscenes-devkit
lmdb
eva-decord
accelerate
transformers
pytorch-fid
lpips
terminaltables
opencv-python
ftfy
einops
compel
bs4
open_clip_torch
pynvml
paramiko
tensorboard
mediapipe
deepspeed
diffusers
imageio
imageio[ffmpeg]
scikit-image